<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="lumos" value="../Lumos.Profiler/nugets" />
    <add key="makeitmeta" value="../MakeItMeta/nugets" />
  </packageSources>
</configuration>
